@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://fonts.gstatic.com/s/droidsans/v5/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff'); }

* {
  margin: 0px;
  padding: 0px; }

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Droid Sans';
  background-color: #f8f8f8; }

#page {
  width: 1150px;
  margin: 0 auto; }
  #page #header {
    position: relative;
    width: 100%;
    min-height: 191.66667px;
    background-size: 1150px 287.5px;
    background-repeat: no-repeat;
    background-position: center; }
    #page #header .left {
      width: 50%;
      float: left;
      max-height: 162.66667px; }
      #page #header .left .content {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        padding: 20px; }
        #page #header .left .content .logo {
          display: block;
          margin: 0 auto; }
    #page #header .right {
      width: 50%;
      float: right;
      max-height: 162.66667px;
      /* menu bar */ }
      #page #header .right .content {
        max-width: 100%;
        max-height: 100%;
        padding: 20px; }
    #page #header #nav-container {
      position: absolute;
      width: 100%;
      margin-top: 162.66667px; }
  #page #content {
    max-width: 100%;
    padding: 10px; }
  #page #pagefooter {
    height: 0px;
    border-top: 1px black solid; }

#footer {
  width: 100%;
  text-align: center;
  font-size: 11px;
  padding: 10px 0px 20px 0px; }

#nav-bar {
  border-top: 0px solid #2d444f;
  border-bottom: 0px solid #2d444f;
  /* background:url(img/nav2_bg.gif) repeat-x 0 100% #666e73; */
  padding: 0 30px;
  font-weight: bold; }

#nav {
  float: left;
  margin: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /************ ALL LEVELS **************/
  /************ 1ST LEVEL  ***************/
  /************ 1ST LEVEL RESET ************/ }
  #nav li {
    position: relative;
    text-align: left; }
    #nav li .over {
      z-index: 99999; }
    #nav li .active {
      z-index: 100000; }
  #nav a, #nav #nav a:hover {
    color: black;
    display: block;
    text-decoration: none; }
  #nav span {
    display: block; }
  #nav a {
    color: black;
    line-height: 1.3em;
    /************ 1ST LEVEL  ***************/ }
  #nav li {
    float: left;
    /*background:url(img/nav1_sep.gif) no-repeat 100% 0;*/ }
    #nav li .active {
      margin-left: -1px;
      /*background:url(img/nav1_active.gif) no-repeat;*/
      /*color:#fff;*/
      font-weight: bold; }
    #nav li .active em {
      display: block;
      position: absolute;
      top: 0;
      right: -1px;
      width: 3px;
      height: 27px;
      /* background:url(img/nav1_active.gif) no-repeat 100% 0;*/ }
    #nav li .over a {
      color: #d6e2e5; }
  #nav a {
    float: left;
    padding: 0 14px;
    color: black;
    line-height: 27px; }

#nav ul li, #nav ul li.active {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: none;
  height: auto;
  background: none;
  margin: 0; }

#nav ul a, #nav ul a:hover {
  float: none;
  padding: 0;
  line-height: 1.3em; }

#nav ul li.over a, #nav ul li.over a:hover, #nav ul a, #nav li.active li {
  font-weight: normal;
  /************ 2ND LEVEL ************/ }

#nav ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0 0 3px 0;
  position: absolute;
  width: 189px;
  top: 27px;
  left: -10000px;
  border-top: 0px solid #2d444f; }

#nav ul ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 2px 0 0 0;
  border-top: 0;
  /*  background:url(img/nav3_bg.png) 0 0 no-repeat;*/
  left: 100px;
  top: 13px;
  /* Show menu */ }

#nav li.over ul {
  left: -1px; }

#nav li.over ul ul {
  left: -10000px; }

#nav li.over ul li.over ul {
  left: 100px; }

#nav ul li {
  padding: 0 2px; }

#nav ul li a {
  background: #e3ecee; }

#nav ul li a:hover {
  background: #d0dfe2; }

#nav li.over ul a, #nav ul li.active a, #nav ul li a, #nav ul li a:hover {
  color: #2f2f2f; }

#nav ul span, #nav ul li.last li span {
  padding: 5px 15px;
  /*  background:url(img/nav2_link_bg.gif) repeat-x 0 100%;*/ }

#nav ul li.last span, #nav ul li.last li.last span {
  background: none; }

#nav ul li.last {
  padding-bottom: 3px; }

#nav ul li.parent a, #nav ul li.parent li.parent a {
  background-position: 100% 100%;
  background-repeat: no-repeat; }

#nav ul li.parent li a, #nav ul li.parent li.parent li a {
  background-image: none;
  /************ 3RD+ LEVEL ************/
  /* Cursors */ }

#nav li.parent a, #nav li.parent li.parent a, #nav li.parent li.parent li.parent a {
  cursor: default; }

#nav li.parent li a, #nav li.parent li.parent li a, #nav li.parent li.parent li.parent li a {
  cursor: pointer;
  /* Show menu */ }

#nav ul ul ul {
  left: -10000px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0; }

#nav li.over ul li.over ul ul {
  left: -10000px; }

#nav li.over ul li.over ul li.over ul {
  left: 100px; }

#nav-bar:after, #nav-container:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden; }
